body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.Login_body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("./sun.webp");
  background-position: center;
  background-size: cover;
  position: relative;
}
.Login_container {
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  background-color: white;
}
.Login_left_side {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px;
  color: white;
}
.Login_right_side {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}
.big_circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.129) 0px 3px 8px;
  position: absolute;
  right: 20%;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.semi_circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 8px;
  position: absolute;
  top: 70%;
  right: 50%;
}
.small_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.149) 0px 3px 8px;
  position: absolute;
  left: 40%;
  top: 45%;
}
.big_circle_content {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7%;
  margin-top: 15%;
}
.big_circle_content h1 {
  line-height: 1px;
  font-size: 2rem;
}
.big_circle_content h4 {
  line-height: 1px;
}
.big_circle_content p {
  width: 20vw;
  text-align: center;
}
.buttons_login_signup {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 9%;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buttons_login_signup button {
  width: 47%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  font-size: 1.1rem;
}
.login_switch {
  background: linear-gradient(#52057b, #bc6ff1);
  color: white;
}
.signup_switch {
  background-color: white;
  color: black;
}
.Login_form {
  width: 65%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Login_form h1 {
  height: 10%;
  width: 100%;
}
.user_login_input {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user_login_input label {
  width: 90%;
  height: 30%;
  text-align: start;
  font-size: 1.2rem;
}
.need_login {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
  gap: 5px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.check_password {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login_form button {
  width: 80%;
  height: 12%;
  font-size: 1.5rem;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  color: white;
  border-radius: 5px;
}
.inputs_login {
  width: 88%;
  height: 40%;
  font-size: 1.1rem;
}
.very_small_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.149) 0px 3px 8px;
  position: absolute;
  top: 85%;
  left: 80%;
}
.signup_form {
  width: 65%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup_form h1 {
  height: 10%;
  width: 100%;
}
.user_signup_input {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user_signup_input label {
  width: 90%;
  height: 30%;
  text-align: start;
  font-size: 1.2rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.check_password_signup {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  height: 10%;
}
.signup_form button {
  width: 80%;
  height: 12%;
  font-size: 1.5rem;
  background: linear-gradient(#52057b, #bc6ff1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  color: white;
  border-radius: 5px;
}
.inputs_signup {
  width: 88%;
  height: 40%;
  font-size: 1rem;
}
#login_switch,
#signup_switch {
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
}
.upload_successfully{
    width: 0px;
    height: 50px;
    background-color:#bc6ff1;
    position: absolute;
    top: 2%;
    opacity: 0;
    left: 83%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    transition: left 0.5s ease-in-out; 
   
    

}
.successfully{
    opacity: 1;
    width: 250px;
}
.hide {
    width: 0;
    opacity: 0;
}
.upload_successfully h3{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self:center;
    text-align: center;
    color: white;
}
.loading{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-icon {
    display: inline-block;
    animation: spinning 4s linear infinite;
    color:white; 
}

.hidden {
    display: none;
}
.fa-regular{
    color:white; 
}

.loading i{
    font-size: 2rem;
}

